body{
    background:url("../images/bg.png");background-attachment: fixed;
}
form{
    width: 55%;background:rgba(0,0,0,0.5);margin: 50px auto;
    padding: 30px;color: white;
}
input[type="text"],.myinput,select{
    width: 100%; margin-top:20px;height: 30px;color: white;

    background: none;border: none;border-bottom: 1px solid white;
}
textarea{
    width: 100%;margin-top:20px;
}
input[type="submit"], input[type="reset"]{
    width: 40%;height: 40px;background-color: green;            color: white;text-transform: uppercase;border: none;
    margin-top:20px;margin-right: 20px;border-radius: 20px;
}
input[type="reset"]{background-color: red;}

input[type="submit"]:hover,input[type="reset"]:hover{
    box-shadow: 0px 0px 10px gray;cursor:pointer;
}
input:focus{
    outline: none;
}
::placeholder{color: white;}

h1{
    text-align: center;
}